.container{
    display: flex;
    border: 10px solid black;
    height: 800px;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /*flex-wrap: wrap;*/
}

.box{

    font-size: 80px;

    flex: 2 1 400px;

    /* The above flex line is equivalent to these three lines
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 400px; */

}

#div1{
    background-color: red;
    align-self: flex-start;
    order:3;

    /* these work based on the amount of space availble or unavailable*/
    /* So the if there is extra space, this box will use 3 times as much of the extra space compared to the other boxes*/
    /* So the if there is less space, this box will shrink faster compared to the other boxes.The formula is more complicated than the grow*/
    flex-grow: 3;
    flex-shrink: 3;

}

#div2{
    background-color: orangered;
    font-size: 20px;
}

#div3{
    background-color: orange;
}

#div4{
    background-color: yellow;
    font-size: 150px;
    order:-1;
}

#div5{
    background-color: blue;
}

#div6{
    background-color: purple;
    font-size: 60px;
    order: 2;
}

#div7{
    background-color: blueviolet;
}

#div8{
    background-color: lightblue;
}