.container{
    display: flex;
    border: 10px solid black;
    height: 800px;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /*flex-wrap: wrap;*/
}

.box{
    flex-basis: 400px;
    font-size: 80px;
    flex-grow: 1;
    flex-shrink: 1;

}

#div1{
    background-color: red;
    align-self: flex-start;
    order:3;
    flex-grow: 3;
    flex-shrink: 3;
}

#div2{
    background-color: orangered;
    font-size: 20px;
}

#div3{
    background-color: orange;
}

#div4{
    background-color: yellow;
    font-size: 150px;
    order:-1;
}

#div5{
    background-color: blue;
}

#div6{
    background-color: purple;
    font-size: 60px;
    order: 2;
}

#div7{
    background-color: blueviolet;
}

#div8{
    background-color: lightblue;
}