.container{
    display: flex;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    flex-direction: column-reverse;
}

div{
    height: 40px;
}

#div1{
    background-color: red;
}

#div2{
    background-color: orangered;
}

#div3{
    background-color: orange;
}

#div4{
    background-color: yellow;
}