.container{
    display: flex;
    border: 10px solid black;
    flex-direction: row;
    justify-content: space-between;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/

    flex-wrap:wrap;
    width: 500px;
}

div{
    width:100px;
}

#div1{
    background-color: red;
}

#div2{
    background-color: orangered;
}

#div3{
    background-color: orange;
}

#div4{
    background-color: yellow;
}